:root {
    font-size: 16px;
}

.card:hover,
.card:focus {
    box-shadow: var(--box-shadow-grid-led-zeppelin);
}

.card-01,
.card-02,
.card-03,
.card-05 {
    padding: var(--padding-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-01 {
    grid-row-start: 1;
    grid-row-end: span 2;
}

.card-02 {
    grid-row-start: 3;
    grid-row-end: span 3;
    gap: var(--gap-m);
}

.card-03 {
    grid-row-start: 1;
    grid-row-end: span 4;
    gap: var(--gap-s);
}

.card-04 {
    grid-row-start: 5;
    grid-row-end: span 1;
    cursor: pointer;
}

.card-05 {
    grid-row-start: 1;
    grid-row-end: span 3;
    gap: var(--gap-xs);
}

.card-06 {
    grid-row-start: 4;
    grid-row-end: span 2;
}

.cover-band {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: 0.3s ease;
}

.cover-band:hover,
.cover-band:focus {
    opacity: 0.8;
}

.main-title {
    color: var(--neutral-color-medium);
    text-align: center;
    letter-spacing: var(--letter-spacing-title);
}

.world-status {
    border-radius: 50px;
    width: 100px;
    padding: var(--padding-s);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color-medium);
    transition: 0.3s ease;
}

.world-status:hover,
.world-status:focus {
    background-color: var(--primary-color-strong);
    scale: 1.1;
}

.scale {
    font-family: var(--font-title);
    font-size: var(--font-size-xm);
    color: var(--neutral-color-weak);
}

.comment {
    font-family: var(--font-text);
    text-transform: uppercase;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    color: var(--neutral-color-strong);
}

.subtitle {
    color: var(--neutral-color-weak);
    letter-spacing: var(--letter-spacing-title);
}

.text {
    text-align: justify;
    color: var(--neutral-color-medium);
}

.table {
    width: 100%;
    height: 100%;
}

.table-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-title);
    color: var(--primary-color-weak);
}

.music-name,
.number {
    text-align: center;
}

.music-name {
    font-weight: var(--font-weight-medium);
    color: var(--neutral-color-medium);
    cursor: pointer;
}

.music-name:hover,
.music-name:focus {
    color: var(--primary-color-strong);
}

.number {
    font-weight: var(--font-weight-medium);
    color: var(--neutral-color-medium);
    cursor: pointer;
}

.number:hover,
.number:focus {
    color: var(--neutral-color-light);
    
}

.radio-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.status-line {
    display: flex;
    align-items: center;
    gap: var(--gap-2xl);
}

.status-item {
    text-align: center;
    background-color: var(--secondary-color-medium);
    border-radius: 50px;
    width: 100px;
    padding: var(--padding-s);
    transition: 0.3s ease;
}

.status-item:hover,
.status-item:focus {
    scale: 1.1;
    background-color: var(--primary-color-strong);
}

.status-scale {
    font-family: var(--font-title);
    font-size: var(--font-size-xm);
    font-weight: var(--font-weight-medium);
    color: var(--neutral-color-weak);
}

.status-comment {
    font-size: var(--font-size-s);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    color: var(--neutral-color-weak);
}

.card-05 > p {
    margin-top: var(--margin-s);
    line-height: 150%;
}

