@import url(/assets/css/wall.css);

:root {
    font-size: 16px;
}

p {
    color: var(--neutral-color-dark);
}

.card:hover,
.card:focus {
    box-shadow: var(--box-shadow-grid-deep-purple);
}

.card-01 {
    grid-row-start: 1;
    grid-row-end: span 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-s);
    gap: var(--gap-s);
}

.title-text {
    color: var(--neutral-color-dark);
    text-align: center;
}

.list {
    padding: 0 var(--padding-s) 1.5rem var(--padding-s);
    margin-left: var(--margin-s);
}

.list-item {
    font-size: var(--font-size-i);
    padding: 0.25rem;
    color: var(--neutral-color-light);
}

.list-item:hover,
.list-item:focus {
    color: var(--primary-color-dark);
}

.card-02 {
    grid-row-start: 5;
    grid-row-end: span 1;
    border: none;
}

.card-03 {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;
    grid-column-end: span 2;
}

.album-info {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
    margin-left: var(--margin-s);
}

.album-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xs);
}

.album-cover {
    width: 30%;
}

.album-cover:hover,
.album-cover:focus {
    scale: 1.05;
    box-shadow: var(--box-shadow-cover);
}

.text-cover {
    font-weight: var(--font-weight-bold);
    
}

.text-cover:hover,
.text-cover:focus,
.text-member:hover,
.text-member:focus,
.text-prize:hover,
.text-prize:focus {
    color: var(--primary-color-dark);
}

.card-04 {
    grid-row-start: 3;
    grid-row-end: span 2;
    border: none;
}

.ticket-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-05 {
    grid-row-start: 5;
    grid-row-end: span 1;
    grid-column-start: 2;
    grid-column-end: span 2;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-06 {
    grid-row-start: 3;
    grid-row-end: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-s);
    gap: var(--gap-s);
}

.prize-container {
    display: flex;
    align-items: center;
    gap: var(--gap-xl);
}

.prize {
    text-align: center;
}

.text-prize {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.medal-icon {
    width: 45px;
    height: 45px;
}

.medal-icon:hover,
.medal-icon:focus {
    scale: 1.2;
}

.card-07 {
    grid-row-start: 4;
    grid-row-end: span 1;
}

.card {
    background: var(--secondary-color-dark);
    border-color: var(--neutral-color-medium);
}

.member-line {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.member-info {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem 0;
}

.icon {
    width: 30px;
    height: 30px;
}

.text-member {
    font-size: var(--font-size-i);
}

